/A CobraConto.NET ERP rendszer moduljai és főbb funkciói.ods
/ER_Diagram 2.0.png
/Invoicing and NAV Financial Management Systems - NotebookLM.html
/Invoicing and NAV Financial Management Systems - NotebookLM_files
/start_server.bat
/Woodpecker fejlesztési terv v 2.0.pdf